.text-center{
    text-align: center;
}

.bg-color{
    background: violet;
}

.mx-auto{
    margin: center;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

